body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.banner {
  height: 120px;
  background-color: #252553;
  padding-left: 2rem;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
  margin-bottom: 4.6rem;
}
.Banner-logo {
  width: 215px;
}

.navigation {
  display: grid;
  grid-template-columns: 250px 450px 550px;
  align-items: center;
  gap: 4rem;
}

.search {
  width: 500px;
  padding: 1rem 0.8rem 1rem 2rem;
  border-radius: 50px;
  justify-self: center;
  border: none;
  font-size: 16px;
}
.Logo {
  height: 100px;
  cursor: pointer;
}
.tabs {
  display: flex;
  gap: 2rem;
  justify-self: center;
}
.Search-bar,
.form {
  width: 615px;
}
.navigation-link {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 215, 215);
  background-color: rgb(119, 0, 0);
  padding: 0.8rem 1.2rem;
  border: 1.5px solid rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  font-size: 16px;
}

.basket-icon {
  height: 15px;
}

.footer {
  background-color: rgb(57, 56, 57);
  padding: 3rem;
}
.footer-logo {
  height: 100px;
}
.apologies {
  color: #ebebeb;
  width: 400px;
}
.Our-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-grid {
  display: grid;
  grid-template-columns: 450px 400px 300px;
  gap: 7rem;
}
.Details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.social-links,
.Detail-links {
  color: #3c8af0;
  width: 150px;
}

.social-links:active,
.social-links:hover,
.Detail-links:active,
.Detail-links:hover {
  color: #2121b6;
}
.footer-social-icons {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  color: #fff;
}

.copyright {
  font-size: 14px;
}

.footer-icon {
  color: #d8d8d8;
  cursor: pointer;
}
.yt:hover,
.yt:active {
  color: #ff0000;
}
.twitch:hover,
.twitch:active {
  color: #6705d8;
}
.fb:hover,
.fb:active {
  color: #356ee9;
}
.twitter:hover,
.twitter:active {
  color: #00e1ff;
}
.insta:hover,
.insta:active {
  color: #cd06ff;
}

.Account-open {
  visibility: visible;
}

.Account-tab {
  display: flex;
  height: 110px;
  width: 240px;
  position: absolute;
  z-index: 5;
  right: 10px;
  top: 10px;
  background-color: #fff;
  visibility: hidden;
}
.account-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 240px;
}
.account-tab-btn {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
}
.sign-up {
  color: #cf0d0d;
}

.account-tab-btn:nth-child(2) {
  padding: 5px 0 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}

#close {
  cursor: pointer;
  height: 30px;
  width: 30px;
}
.account-tab-btn:hover,
.account-tab-btn:active {
  background-color: #ececec;
}

#basket-button {
  padding: 10px 2rem;
}

#basket-tab {
  position: absolute;
  z-index: 5;
  background-color: #fff;
  width: 300px;
  height: 700px;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.hidden-tab {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
}

.empty-cart {
  color: #808080;
  position: relative;
  top: 300px;
  left: 90px;
}
.checkout-btn {
  background-color: #cf0d0d;
  color: #ebebeb;
  padding: 0.6rem 5rem;
  position: relative;
  top: 600px;
  left: 50px;
  cursor: pointer;
}
