/* basket drawer */

#basket-button {
  padding: 10px 2rem;
}

.basket-contents {
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.basket-contents::-webkit-scrollbar {
  display: none;
}

#basket-tab {
  position: absolute;
  z-index: 5;
  background-color: #dbd0d0;
  width: 370px;
  height: 700px;
  top: 0;
  right: 0;
  padding: 10px;
}
.empty-cart {
  font-size: 20px;
  color: #ffffff;
  position: relative;
  top: 150px;
  left: 100px;
}
.checkout-btn {
  background-color: #cf0d0d;
  color: #ebebeb;
  padding: 0.4rem 4rem;
  cursor: pointer;
}
.hidden-tab {
  opacity: 0;
  visibility: hidden;
}

.basket-checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

/* product element in basket styling */

.cartProduct-container {
  height: 120px;
  margin: 10px 0 0 0;
}

.cartProduct-info {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin-bottom: 3px;
}
.cartProduct-img {
  height: 100%;
  width: 120px;
}

.cartProduct-data p {
  margin: 0;
  width: 100%;
  padding-left: 2px;
}

.cartProduct-title {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
}

.deleteCart-btn {
  background: none;
  outline: none;
  border: none;
  position: relative;
  left: 200px;
  cursor: pointer;
  bottom: 35px;
}

.deleteCart-btn:hover {
  color: red;
}
