/* Content */

.Welcome {
  margin-bottom: 5rem;
}

.welcome-content {
  display: grid;
  grid-template-columns: 800px 700px;
}

.grid-left {
  color: whitesmoke;
  padding: 2rem;
  width: 700px;
  background-color: rgb(61, 61, 61);
  border: none;
  border-radius: 11px;
  box-shadow: var(--box-shadow);
}

.heading-primary {
  font-size: 30px;
}

.comment {
  color: #000;
  width: 300px;
  padding: 1rem;
  border-radius: 6px;
  background-color: #fff2f2;
  box-shadow: 0 0 12px rgb(0, 225, 255);
  margin-top: 3rem;
}
.dubby {
  font-weight: 700;
  text-decoration: underline var(--dubby);
  color: var(--dubby);
}
.quote-text {
  margin-bottom: 0;
}
.name {
  margin-bottom: 0;
  font-size: 14px;
}

.Relation {
  margin-top: 0;
  font-size: 12px;
  font-weight: 700;
}
.quote-flex {
  display: flex;
  align-items: center;
  position: relative;
  right: 20px;
}
.quote-logo {
  height: 50px;
  border-radius: 50px;
  padding-top: 10px;
}
.quotee {
  position: relative;
  right: 5px;
  bottom: 2px;
}

/* pagination */

.pagination {
  display: flex;
  margin-left: 14.5rem;
  align-items: center;
  gap: 10px;
}
.pag-btn {
  cursor: pointer;
  color: #fff;
  border-radius: 50px;
  border: none;
  height: 30px;
  width: 30px;
  background-color: rgb(57, 56, 57);
  text-align: center;
}
.pag-icon {
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: none;
}

.pag-btn:hover {
  background-color: #2121b6;
}
.pag-btn:active {
  color: #2121b6;
  background-color: #fff;
  border: 2px solid #2121b6;
}
.pag-icon:active,
.pag-icon:hover {
  fill: #2121b6;
}

.Get {
  color: #fff2f2;
  background-color: rgb(175, 1, 1);
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
  border: 1px solid rgb(43, 0, 0);
  border-bottom: 3px solid rgb(43, 0, 0);
}

.Get:hover {
  padding: 0.56rem 1.2rem;
  border-top: 2px solid rgb(43, 0, 0);
  background-color: rgb(224, 0, 0);
}
.Get:active {
  border-top: 3px solid rgb(43, 0, 0);
  border-bottom: 1px solid rgb(43, 0, 0);
  background-color: rgb(119, 0, 0);
}
