body {
  background-color: #d1d1d1;
}
.signin-container {
  background-color: #fff;
  width: 550px;
  height: 450px;
  margin: 5rem 30rem;
  display: flex;
  box-shadow: 0px 5px 12px rgba(73, 72, 72, 0.404);
  border-radius: 4px;
}

.signin-head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  width: 550px;
  border-bottom: 1px solid #7c737383;
}
/* Login Section */
.login-tab {
  padding: 2rem 4rem;
  z-index: 6;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.createAcc-form,
.login-form {
  display: grid;
  grid-template-columns: 1fr;
  width: 400px;
  margin-bottom: 20px;
}

.signin-titles {
  border: none;
  border-bottom: 3px solid #5555556b;
  background-color: #fff;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #161616;
  padding: 0 1rem;
}
.signin-titles:hover {
  border-bottom: 3px solid #00d9ff;
}

.login-btn {
  padding: 0.4rem 5rem;
  color: rgb(255, 215, 215);
  background-color: rgb(119, 0, 0);
  margin: 0 6rem;
}

.forgot-pass {
  position: absolute;
  left: 330px;
  top: 120px;
  text-decoration: none;
  font-size: 14px;
}

.help-link {
  position: relative;
  top: 30px;
  left: 130px;
}

#email-input,
#password-input {
  padding: 5px 5px 5px 10px;
  margin-bottom: 1rem;
}

.active-page {
  border-bottom: 3px solid #00c7eb;
}

/*Account Tab*/

.createAcc-tab {
  padding: 2rem 4rem;
  z-index: 7;

  position: relative;
  top: 0px;
  left: 0px;
}
